html {
    font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.menu-text,
.menu-dropdown,
footer .heading
{
    font-family: "Bodoni Moda", serif;
    letter-spacing: 0.035em;
}

.logo img {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    padding-top: 2px;
}

@media (max-width: 576px) {
    .logo img {
        max-width: 100%;
        height: auto;
        max-height: 65px;
        padding-top: 5px;
    }
}

.navigation {
    align-items: center;
    box-shadow: 1px 1px 5px var(--record-representation-box-shadow);
}

.navigation-right-group {
    padding-right: 20px;
}

.navigation-right-group .menu-about .menu-dropdown-toggle {
    background-color: #41292c;
    color: #fff9ed;
}

.navigation-right-group .menu-about .menu-dropdown-toggle:hover {
    background-color: #ff47da;
}

.navigation-right-group .menu-about .menu-dropdown-toggle:focus {
    box-shadow: none;
}

.navigation-right-group .menu-projects {
    background-color: #ff47da;
    color: #fff9ed;
}

.navigation-right-group .menu-projects a {
    color: #fff9ed;
}


/** Display the hamburger navigation on tablet and mobile devices. */
#menu-hamburger {
    display: none;
}

@media (max-width: 992px) {
    #menu-hamburger {
        display: block;
    }

    .navigation-right-group .menu-text,
    .navigation-right-group .menu-dropdown {
        display: none;
    }

    .menu-text-overlay,
    .menu-dropdown-overlay {
        display: block;
    }
}

@media (min-width: 993px) {
    .main-menu-overlay {
        /**
         * This is the absolute simplest way to hide the overlay menu on desktop
         * without changing the html structure or adding javascript.
        */
        display: none !important;
    }
}
