html {
    font-size: 16px;
}

body {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.menu-text,
footer .heading
{
    font-family: "Bodoni Moda", serif;
    letter-spacing: 0.035em;
}

.logo img {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    padding-top: 2px;
}

@media (max-width: 576px) {
    .logo img {
        max-width: 100%;
        height: auto;
        max-height: 65px;
        padding-top: 5px;
    }
}

.navigation {
    align-items: center;
    box-shadow: 1px 1px 5px var(--record-representation-box-shadow);
}

.navigation-right-group {
    padding-right: 20px;
}

.navigation-right-group .menu-text:nth-last-of-type(2) {
    background-color: #41292c;
    color: #000;
}

.navigation-right-group .menu-text:nth-last-of-type(2) a {
    color: #fff9ed;
}

.navigation-right-group .menu-text:last-of-type {
    background-color: #ff47da;
    color: #fff9ed;
}

.navigation-right-group .menu-text:last-of-type a {
    color: #fff9ed;
}


@media (max-width: 992px) {
    .navigation-right-group .menu-text a {
        font-size: 0.75rem;
    }
}


/** only display #menu-hamburger menu devices where max-width is 768px */
#menu-hamburger {
    display: none;
}

@media (max-width: 768px) {
    #menu-hamburger {
        display: block;
    }
}

@media (min-width: 769px) {
    .main-menu-overlay {
        /**
         * This is the absolute simplest way to hide the overlay menu on desktop
         * without changing the html structure or adding javascript.
        */
        display: none !important;
    }
}
