{% extends "base_small.html" %}

{% block body_class %}page-about{% endblock %}

{% block head %}
{% endblock head %}

{% block content %}

{% set markdown_content %}

# Bestyrelsen

Bestyrelsen har efter generalforsamlingen konstitueret sig således:

* Astrid Elbek, forperson

* Merete Bøge Pedersen, næstforperson

* Morten Michelsen, kasserer

* Bjørn “Bønneˮ Petersen

* Cecilie Feldvoss

* Anders Pedersen

* Martin Blom Hansen

Bønne, Cecilie og Anders er valgt for ét år, mens Astrid, Merete, Morten og Martin er valgt for to år.

{% endset %}

{{ markdown(markdown_content)|safe }}

{% endblock content %}