{% import "macros/basic_macros.html" as basic_macros with context %}

{% extends "base.html" %}

{% block body_class %}page-records-view{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/orders.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}


{% if logs|length == 0 %}
    <div class="alert alert-info">No logs found</div>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Opdateret af</th>
            <th>Record ID</th>
            <th>Lokation</th>
            <th>Bruger Status</th>
            <th>Besked</th>
            <th>Dato</th>
            
        </tr>
    </thead>
    {% for log in logs %}
    <tr>
        <td><a href="/admin/orders/logs?order_id={{ log.order_id }}">{{ log.order_id}}</a></td>
        <td>
            <span  title="{{ log.user_email }}" class="content-copy" data-email="{{ log.user_email }}">{{ get_icon('content_copy')|safe }}</span>
            {{ log.user_display_name }}    
        </td>
        <td class="record-link">
            <a href="/admin/orders/{{log.record_id}}/html">{{log.record_id}}</a>
            <a href="/records/{{log.record_id}}" target="_blank" title="Vis post i ny fane">
                <span class="open-new-window">{{ get_icon('open_in_new')|safe }}</span>
            </a>
        </td>
        <td>{{ log.updated_location }}</td>
        <td>{{ log.updated_order_status }}</td>
        <td>{{ log.message }}</td>
        <td>{{ log.updated_at }}</td>
    </tr>
    {% endfor %}
</table>
<div class="action-links">
    {% if has_previous %}
    <a href="?order_id={{ order_id }}&offset={{ prev_offset }}">&lt;&lt; Forrige</a>
    {% else %}
    <span class="disabled">&lt;&lt; Forrige</span>
    {% endif %}

    {% if has_next %}
    <a href="?order_id={{ order_id }}&offset={{ next_offset }}">Næste &gt;&gt;</a>
    {% else %}
    <span class="disabled">Næste &gt;&gt;</span>
    {% endif %}
</div>
{% endif %}

<script type="module" nonce="{{ request.state.csp_nonce }}">

    import { Flash } from "/static/js/flash.js";

    document.querySelectorAll('.content-copy').forEach(element => {
        element.addEventListener('click', function () {
            const email = this.dataset.email;
            navigator.clipboard.writeText(email).then(function() {
                Flash.setMessage('E-mail kopieret til udklipsholderen', 'success', 5);
            }, function(err) {
                Flash.setMessage('Kunne ikke kopiere e-mail: ' + err, 'error');
            });
        });
    });

</script>

{% endblock content %}

