{% import "macros/basic_macros.html" as basic_macros with context %}

{% extends "base.html" %}

{% block body_class %}page-records-view{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/table.css') }}?v={{ get_setting('version') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/css/orders.css') }}?v={{ get_setting('version') }}">
{% endblock head %}

{% block content %}

{% include "admin/menu.html" %}

{{ basic_macros.page_title(title) }}


{% if logs|length == 0 %}
    <div class="alert alert-info">No logs found</div>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Opdateret af</th>
            <th>Record ID</th>
            <th>Lokation</th>
            <th>Bruger Status</th>
            <th>Besked</th>
            <th>Dato</th>
            
        </tr>
    </thead>
    {% for log in logs %}
    <tr>
        <td><a href="/admin/orders/logs?order_id={{ log.order_id }}">{{ log.order_id}}</a></td>
        <td>{{ log.user_display_name }} ({{ log.user_email }})</td>
        <td>{{ log.record_id }}</td>
        <td>{{ log.updated_location }}</td>
        <td>{{ log.updated_order_status }}</td>
        <td>{{ log.message }}</td>
        <td>{{ log.updated_at }}</td>
    </tr>
    {% endfor %}
</table>
<div class="action-links">
    {% if has_previous %}
    <a href="?order_id={{ order_id }}&offset={{ prev_offset }}">&lt;&lt; Forrige</a>
    {% else %}
    <span class="disabled">&lt;&lt; Forrige</span>
    {% endif %}

    {% if has_next %}
    <a href="?order_id={{ order_id }}&offset={{ next_offset }}">Næste &gt;&gt;</a>
    {% else %}
    <span class="disabled">Næste &gt;&gt;</span>
    {% endif %}
</div>
{% endif %}

{% endblock content %}

