{% extends "mails/mail_template.html" %}

{% block content %}
<p>Kære {{ order.user_display_name }},</p>

<p>{{ message|safe }}</p>

<p>Denne mail gælder bestilling af følgende materiale:</p>

<p><a href="{{client_domain_url}}/records/{{ order.record_id }}">{{ order.label }}</a></p>

<p>
    Vi har fire studiepladser til rådighed i tidsrummet tirsdag-torsdag kl. 9-16. (Lukket: Helligdage, mellem jul og
    nytår og i juli.)
</p>

<p>
    Læs mere på <a href="https://stadsarkiv.aarhus.dk/besoeg-arkivet/besoeg-stadsarkivet">Stadsarkivets hjemmeside</a>
    om besøg i studierummet og hvad du må medbringe.
</p>

<p>
    Vær opmærksom på særlige retningslinjer ved brug af studierummet:
</p>
<ul>
    <li>Overtøj, tasker og andet, som ikke må medtages på Stadsarkivet, skal venligst efterlades i garderoben.</li>
    <li>Mobiltelefon og evt. Pc skal være på lydløs af hensyn til andre gæster.</li>
    <li>Mad- og drikkevarer må ikke medbringes ved studiepladserne.</li>
</ul>

<p>
    Materialet skal tages i brug inden 30 dage, hvorefter det sendes retur til magasinet.
</p>

{% endblock %}

{% block footer %}

<p>Med venlig hilsen</p>

<!--
<p><img src="{{ client_domain_url }}/static/assets/stadsarkiv-logo.png" alt="{{ client_name }} logo"></p>
-->

<p>
Aarhus Stadsarkiv<br>
Dokk1<br>
Hack Kampmanns Plads 2<br>
8000 Aarhus C
</p>

<p>
E-mail: stadsarkiv@aarhus.dk<br>
Telefon: 41 85 65 45 (Stadsarkivets hovednummer)<br>
www: https://stadsarkiv.aarhus.dk/
</p>

{% endblock %}